<!--todo: if there isn't any valid make this dissapear with a *ngIf-->
<form [formGroup]="form" (ngSubmit)="onSubmitAnswers()">

  <div  *ngFor="let control of jsonFormData?.controls">
    <mat-form-field class="neurone-form" *ngIf="['input', 'paragraph', 'datepicker'].includes(control.type)">
      <mat-label>{{control.title}}</mat-label>
      <input
        *ngIf="control.type==='input'"
        [type]="control.type"
        [formControlName]="control.name"
        [value]="control.value"
        matInput>
      <textarea
        *ngIf="control.type==='paragraph'"
        [type]="control.type"
        [formControlName]="control.name"
        [value]="control.value"
        matInput >
      </textarea>
      <div *ngIf="control.type==='datepicker'">
        <input matInput [matDatepicker]="picker" [formControlName]="control.name">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>

      <mat-hint>{{ control.hint }}</mat-hint>
    </mat-form-field>

    <div class="neurone-form" *ngIf="control.type==='checkbox'">
      <b>{{ control.title }}</b>
      <p class="hint">{{ control.hint }}</p>
      <section *ngFor="let option of control.choices; index as i">
        <mat-checkbox

          [value]="control.value"
          [formControlName]="control.choices ? (control.name + ' - ' + control.choices[i]) : control.name"
          >{{ option }}</mat-checkbox>
      </section>
    </div>

    <div class="neurone-form" *ngIf="control.type==='radio'">
      <label><b>{{ control.title + (control.validators.required ? "*" : "") }}</b></label>
      <p class="hint" *ngIf="control.hint!=''">{{control.hint}}</p>
      <mat-error *ngIf="submitAttempted && !form.valid && control.validators.required">Required</mat-error>
      <mat-radio-group
        aria-label="Select an option"
        [formControlName]="control.name">
        <div *ngFor="let option of control.choices; index as i">
          <mat-radio-button
            [value]="control.choices ? control.choices[i] : control.name"
          >
            {{option}}
          </mat-radio-button>
        </div>
      </mat-radio-group>
    </div>

    <div class="neurone-form" *ngIf="control.type==='dropdown'">
      <h4>{{ control.title }}</h4>
      <mat-form-field>
        <mat-label>{{control.hint}}</mat-label>
        <mat-select [formControlName]="control.name">
          <div *ngFor="let choice of control.choices; index as i">
            <mat-option [value]="control.choices ? control.choices[i] : control.name">
              {{choice}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="neurone-form" *ngIf="control.type==='scale'">
      <label><b>{{ control.title + (control.validators.required ? "*" : "") }}</b></label>
      <p class="hint" *ngIf="control.hint!=''">{{control.hint}}</p>
      <mat-error *ngIf="submitAttempted && !form.valid && control.validators.required">Required</mat-error>
      <mat-radio-group
        aria-label="Select an option"
        [formControlName]="control.name">
        <table>
          <tr>
            <td class="scale-label" *ngIf="control.scaleOptions.minLabel">{{ control.scaleOptions.minLabel }}</td>
            <td *ngFor="let i of getRange(control.scaleOptions.min, control.scaleOptions.max, control.scaleOptions.step); index as index">
              <mat-radio-button
                [value]="i"
              >
                {{ i }}
              </mat-radio-button>
            </td>
            <td class="scale-label" *ngIf="control.scaleOptions.maxLabel">{{ control.scaleOptions.maxLabel }}</td>
          </tr>
        </table>
      </mat-radio-group>
    </div>


    <!--rating form-->
    <!--based on https://stackblitz.com/edit/angular-material-star-rating-ajhmzf?file=app%2Fstar-rating%2Fstar-rating.component.ts-->
    <div *ngIf="control.type==='rating'" class="neurone-form">
      <label><strong>{{ control.title + (control.validators.required ? "*" : "") }}</strong></label>
      <p class="hint" *ngIf="control.hint!=''">{{control.hint}}</p>
      <button mat-icon-button color="primary" type="button" *ngFor="let ratingId of getRange(1, control.stars, 1);index as i" [id]="'star_'+i" (click)="onStarClick(i+1, control.name)">
        <mat-icon>
          {{showStar(i, control.name)}}
        </mat-icon>
      </button>
      <mat-error *ngIf="(!form.controls[control.name].value) && !form.valid && submitAttempted && control.validators.required">
        Star count is <strong>required</strong>.
      </mat-error>
    </div>

  </div>

  <div class="submit-button">
    <button mat-raised-button color="primary" type="submit">Submit</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-error *ngIf="submitError">Error sumbitting. Please contact the administrator of the questionnaire.</mat-error>
    <mat-error style="padding-top: 1rem;" *ngIf="loadFormError">Failed to find form named "{{ formName }}". Are you authenticated?</mat-error>
  </div>

  <div class="submit-button" *ngIf="mode==='creator'">
    <button mat-raised-button color="warn" type="button" (click)="onSubmitForm()">Save form in databse</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <p style="color:blue">{{ saveButtonText }}</p>
  </div>

  <div class="submit-button" *ngIf="mode==='creator'">
    <button mat-raised-button color="warn" type="button" (click)="onDeleteForm()">Delete form in databse</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <p style="color:red">{{ deleteButtonText }}</p>
    <mat-error *ngIf="deleteFormError">Failed to delete form "{{ formName }}" from database.</mat-error>
  </div>


</form>
