<p>
  <mat-toolbar color="primary">
    <span class="spacer"><a routerLink="/">NEURONE</a></span>
    <ul>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button (click)="cardMode='signin'" >Login</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button (click)="cardMode='signup'">Signup</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </mat-toolbar>
</p>
<div *ngIf="!userIsAuthenticated && cardMode != 'hidden'">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onCardButtonClick(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input
          matInput
          name="email"
          ngModel
          type="email"
          placeholder="E-Mail"
          #emailInput="ngModel"
          required
          email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          name="password"
          ngModel
          matInput
          placeholder="Password"
          #passwordInput="ngModel"
          required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">{{ cardMode === 'signin' ? 'Sign in' : 'Create Account' }}</button>
        <button mat-raised-button color="warn" (click)="cardMode='hidden'" type="button" *ngIf="!isLoading">Cancel</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <mat-error style="padding-top: 1rem;" *ngIf="authError && !loggedOut">Error authenticating, please contact an administrator if this persists.</mat-error>
      </div>
    </form>
  </mat-card>
</div>

