<neurone-navbar-component neurone-logger-mouse></neurone-navbar-component>

<neurone-forms formName="assets/example-form.json" mode="creator"></neurone-forms>

<h1>Old neurone forms below</h1>

<!-- old neurone forms below-->
<neurone-input title="TITULO MEDIANTE HTML" required="true"></neurone-input>
<neurone-paragraph></neurone-paragraph>
<neurone-multiple-choice></neurone-multiple-choice>
<neurone-multiple-checkbox></neurone-multiple-checkbox>
<neurone-dropdown></neurone-dropdown>
<neurone-date-picker></neurone-date-picker>
<neurone-submit></neurone-submit>
