<div neurone-logger-mouse neurone-logger-keyboard neurone-logger-scroll>
  <neurone-navbar-component></neurone-navbar-component>

  <neurone-serp-component></neurone-serp-component>

  <neurone-forms-component mode="creator" ></neurone-forms-component>


  <!-- old neurone forms
  <neurone-input title="TITULO MEDIANTE HTML" required="true"></neurone-input>
  <neurone-paragraph></neurone-paragraph>
  <neurone-multiple-choice></neurone-multiple-choice>
  <neurone-multiple-checkbox></neurone-multiple-checkbox>
  <neurone-dropdown></neurone-dropdown>
  <neurone-date-picker></neurone-date-picker>
  <neurone-submit></neurone-submit>
  -->
</div>
