<div *ngIf="!searchOnline && !loading" class="error-mess">
  <p>Search not connected, please make sure neurone-search is online and refresh.</p>
</div>

<div *ngIf="mode==='serp'" class="serp-container">
  <div *ngIf="!fullScreenMode" class="search-small">
    <img src="../../assets/searchlogo.png" alt="neurone logo" (click)="fullScreenMode=true" class="search-logo-pointer">
    <div class="search-small-input">
      <input [formControl]="searchForm" (keydown.enter)="onSeachRequest()">
      <button mat-raised-button color="primary" style="border-radius: 10px" type="button" (click)="onSeachRequest()">Search</button>
    </div>
  </div>
  <div *ngIf="fullScreenMode" class="search-big">
    <img src="../../assets/searchlogo.png" alt="neurone logo">
    <div class="search-big-input">
      <input [formControl]="searchForm" (keydown.enter)="onSeachRequest()">
      <button mat-raised-button color="primary" style="border-radius: 10px" type="button" (click)="onSeachRequest()">Search</button>
    </div>
     <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
  <hr color="#dddddd">
  <div *ngIf="!fullScreenMode">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div *ngFor="let doc of documents">
      <div class="document">
        <p class="document-header">{{doc.url_t}}</p>
        <a href=# (click)="switchToPageMode(doc)" class="document-title">{{doc.title_t}}</a>
        <p [innerHTML]="buildSnippet(highlights[doc.id])" class="document-desc"></p>
      </div>
    </div>
    <div *ngIf="documents.length===0">
      <p>Your search - <b>{{lastQuery}}</b> - did not match any documents.</p>
    </div>
    <mat-paginator
      [style]="'font-size:20px; color: #333333'"
      aria-label="Select page"
      [pageIndex]="currentPage"
      [pageSize]="docsInPage"
      [length]="totalDocsFound"
      [hidePageSize]="true"
      (page)="onChangedPage($event)">
    </mat-paginator>
  </div>
</div>

<div *ngIf="mode==='page'">
  <mat-toolbar style="min-height:10px" color="primary">
    <button mat-raised-button (click)="switchToSerpMode()">Return to Search Results</button>
    <span class="spacer"></span>
    <button mat-raised-button (click)="getBookmarks()">Get User Data (for tests)</button>
    <button *ngIf="showUserSaveButtons" mat-raised-button (click)="changeSnippetFormStatus()">Save Snippet</button>
    <button *ngIf="showUserSaveButtons" mat-raised-button (click)="saveBookmark()">Save Bookmark</button>
  </mat-toolbar>
  <mat-card *ngIf="snippetWindowOpened" class="snippet-area">
    <mat-form-field class="snippet-input">
      <mat-label>Insert text here</mat-label>
      <textarea rows="5" matInput #snippetInput ></textarea>
    </mat-form-field>
    <div class="snippet-button">
      <button mat-button color="primary" type="button" (click)="saveSnippet(snippetInput.value)">Save to Profile</button>
      <button mat-button color="warn" (click)="changeSnippetFormStatus()">Close</button>
    </div>
  </mat-card>
  <iframe
    title="Selected page of Neurone SERP"
    sandbox
    [src]='selectedPageRoute | safe'
    class="neurone-iframe"
    styleRef="./wikipedia.css"> <!--TODO: fix wikipedia or remove-->
  </iframe>
</div>
